*{}

body{}

/* Header */

/* Navbar */

/* Hero */

/* About Me */

/* Work */
.work {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}

.card {
  flex: 0 1 50%;
}

.card.horiseon {
  flex: 2 1 100%;
}

.card p {
  border-style: solid;
  border-width: 1px;
  margin: 10px 0;
}

/* Contact Me */
