* {}

.segment {
  display: flex;
}

.segment h2 {
  flex: 20%;
}

.segment div {
  flex: 80%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}
/* Navbar */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}
/* Hero */

/* About Me */

/* Work */
.work {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 40%;
}

.card.horiseon {
  flex: 80%;
}

.card p {
  border-style: solid;
  border-width: 1px;
  margin: 10px 0;
}

/* Contact Me */
footer ul {
  display: flex;
  flex: 1 0 250px;
  justify-content: space-between;
  margin-right: 25%;
}